@model IEnumerable<SalesWebMvc.Models.Vendedor>
@{
    ViewData["Title"] = "Vendedores";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Criar" class="btn btn-default">Novo</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(vendedor => vendedor.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(vendedor => vendedor.E_mail)
            </th>

            <th>
                @Html.DisplayNameFor(vendedor => vendedor.DataAniversario)
            </th>

            <th>
                @Html.DisplayNameFor(vendedor => vendedor.SalarioBase)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(vendedorItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(vendedorItem => item.E_mail)
                </td>

                <td>
                    @Html.DisplayFor(vendedorItem => item.DataAniversario)
                </td>

                <td>
                    @Html.DisplayFor(vendedorItem => item.SalarioBase)
                </td>
                <td>
                    <a asp-action="Editar" asp-rout-id="@item.Id">Editar</a> |
                    <a asp-action="Detalhes" asp-rout-id="@item.Id">Detalhes</a>|
                    <a asp-action="Apagar" asp-rout-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>