
@model IEnumerable<IGrouping<Departamento, Venda>>

@{ ViewData["Title"] = "Busca Agrupada";
                DateTime minData = DateTime.Parse(ViewData["minData"] as string);
                DateTime maxData = DateTime.Parse(ViewData["maxData"] as string); }

<h2>@ViewData["Title"]</h2>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Min Date</label>
                    <input type="date" class="form-control" name="minDate" value=@ViewData["minData"]>
                </div>
                <div class="form-group">
                    <label for="maxDate">Max Date</label>
                    <input type="date" class="form-control" name="maxDate" value=@ViewData["maxData"]>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
</nav>

@foreach (var departamentoAgrup in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Departamento @departamentoAgrup.Key.Nome, Total vendas = @departamentoAgrup.Key.TotalVendas(minData, maxData).ToString("F2")</h3>
        </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="success">
                            <th>
                                Data
                            </th>
                            <th>
                                Montante
                            </th>
                            <th>
                               Vendedor
                            </th>
                            <th>
                                Situação
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in departamentoAgrup)
                        { 
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Montante)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vendedor.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Situacao)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
      </div>
 }